<!doctype html>
<html lang="{{ shop.locale }}" class="js{% if template == 'index' %} templateIndex{% endif %}">
<head>
	{% render 'pandectes-rules' %}{% render 'structuredDataV2' %}{% render 'SEO-Master' %}
 {%- render 'ecom_header' -%}
 <style type="text/css">
body {

		cursor: url({{ 'cursor-houseofspells.png' | asset_img_url}}), default;

	}
</style>
  
  {% include 'shop-sheriff-amp' %}
  <meta name="p:domain_verify" content="6d22ffe7ccbc067cbf74668a00e3ec11"/>
  <meta name="baidu-site-verification" content="code-wskaLcIaAS" />
  {% unless settings.favicon == blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endunless %}
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
  <meta name='HandheldFriendly' content='True'>
  <meta name='MobileOptimized' content='375'>
  <meta http-equiv="cleartype" content="on">
  <meta name="theme-color" content="{{ settings.main_color }}">
  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'search.general.heading' | t: count: search.results_count }}: {{ 'search.general.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} and {{ current_tags  -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
     from {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}  
 <title>{{ seo_title | strip }}</title>
  {% if current_tags %}
  <meta name="robots" content="noindex">
   {%- else if page_description -%}
   <meta name="description" content="{{ seo_title | strip }} {{ page_description | escape }}">
  {%- endif -%}
 {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"/>
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com">
  <link rel="preconnect dns-prefetch" href="https://v.shopify.com">
  <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com">

  <link rel="preload" href="{{'header-footer.scss.css' | asset_url }}" as="style">
  <link rel="preload" href="{{'global.scss.css' | asset_url }}" as="style">
  {% if template == 'index' %}
  <link rel="preload" href="{{'themes.scss.css' | asset_url }}" as="style" >
  {% else %}
  <link rel="preload" href="{{'styles.scss.css' | asset_url }}" as="style">
  {% endif %}
  <link rel="preload" href="{{'vendor.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{'vendor.css' | asset_url }}"></noscript>
 

  <!-- header-css-file  ================================================== -->

  <link href="{{ 'arenafont.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'vendor.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'header-footer.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <link href="{{ 'global.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  {% if template == 'index' %}
  <link href="{{ 'themes.css.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  {% else %}
  <link href="{{ 'styles.scss.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  {% endif %}
  
 

  <script crossorigin="anonymous" src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
  <script crossorigin="anonymous" src="{{ 'jquery-3.5.min.js' | asset_url }}"></script>
  <script crossorigin="anonymous" src="{{ 'bootstrap.4x.min.js' | asset_url }}" defer></script>
	
    <style type="text/css">
    .cc-bottom {
      bottom: 100px;
    }
      
      .locale-selectors__content > form{
        z-index: 1000;
        margin-top: 10px;
      }
    
      
      #cookie_container{
        /*width: 500px;
        height: 500px;*/
        background-image:url(https://cdn.shopify.com/s/files/1/0336/0646/7715/files/f1f971_2e253e3e35664f40a05f7a6608858335_mv2.jpg?v=1648632243);
        /*background-position: center;
        background-size: 500px 500px;
        background-repeat: no-repeat;*/
      }
      
      #cookie_dismiss_button{
      	background-image: url(https://cdn.shopify.com/s/files/1/0336/0646/7715/files/png-clipart-round-card-seal-sealing-wax-stamp-seal-red-stamp-material-red-stamp-removebg-preview.png?v=1648633979);
      	background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        line-height: 80px;
        background-size: 80px 80px;
      }
      
      
  </style>
 

 {{ content_for_header }}
  {{ shop.metafields.loox["global_html_head"] }}
  
  {% comment %} 
  {% include 'arn_wl_cp_settings' %}
  {% include 'arn_wl_cp_styles' %}
  {% include 'arn_icons_define' %} 
  {% endcomment %}

  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MK5RVT4');</script>
<!-- End Google Tag Manager -->

  
 <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '846522356511333');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=846522356511333&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!--DOOFINDER-SHOPIFY--> {% if content_for_header contains 'doofinder-installed.js' %} {% render 'doofinder-script-tag' %} {% endif %} <!--/DOOFINDER-SHOPIFY-->{% render 'minmaxify-head' %}
<!--DOOFINDER-SHOPIFY--> {% if content_for_header contains 'doofinder-installed.js' %} {% render 'doofinder-script-tag' %} {% endif %} <!--/DOOFINDER-SHOPIFY-->
<script async src=“https://www.googletagmanager.com/gtag/js?id=G-82E1DQKTMN”></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag(‘js’, new Date());
  gtag(‘config’, ‘G-82E1DQKTMN’);
</script>
 
{% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "hqspfo87ck");
</script>



  <!-- Event snippet for Purchase completed conversion page -->
<script>
  gtag('event', 'conversion', {
      'send_to': 'AW-657390096/NcyhCKi62NYYEJD0u7kC',
      'transaction_id': ''
  });
</script>

  <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=8a594b21"></script>
  
</head> 

{% assign _input_bg = settings.input_bg %}
{% if _input_bg == blank or _input_bg == 'none' or _input_bg == 'rgba(0,0,0,0)' %}
  {%- assign _input_class = 'input-bg-none' -%}
{% elsif _input_bg == '#ffffff' or _input_bg == '#000000' %}
  {%- assign _input_class = 'input-bg-white' -%}
{% endif %}
  

<body class="template{{ template | split: '.' | first | camelize }} mobile-bar-{{ settings.mobile_bar }} category-mode-{{ settings.catalog_mode }} lazy-loading-img {{ _input_class }}{% if settings.btn_round %} btn-round{% endif %}" data-rtl="{{ _rtl }}" data-check-rtl="{{ _rtl }}">
 
  {%- assign _template_skin = settings.template_skin -%}
  {%- assign _container_width_type = settings.container_width_type -%}
  {%- assign _lazyload = settings.use_lazyload -%}
  {%- assign _header_left = settings.header_left -%}
  {%- assign _general_layout_mode = settings.general_placement -%}
  {%- assign _boxed_mode_bg = settings.boxed_mode_bg -%}
  {%- assign _fix_boxed = settings.fix_boxed -%}
  {%- assign _show_left_column = settings.show_left_column -%}
  {%- assign _breadcrumb_styles = settings.breadcrumb_styles -%}
  {%- assign _back_to_top = settings.show_back_to_top -%}
  {%- assign _cart_styles = settings.cart_styles -%}
  {%- assign _show_cookie_policy = settings.show_cookie_policy -%}
  {%- assign _enable_visitor_count = settings.enable_visitor_count -%}
  {%- assign _show_add_to_cart_sticky = settings.show_add_to_cart_sticky -%}
  {%- assign _show_discount_popup = settings.show_discount_popup -%}
  {%- assign _use_color_hexcode = settings.use_color_hexcode -%}
  {%- assign _icon_btn_banner = settings.icon_btn_banner -%}
  {%- assign _notice_bar = settings.notice_bar -%}
  {%- assign _announcement_bar = settings.announcement_bar -%}
  {%- assign _mobile_department = settings.mobile_department -%}
  {%- assign _newsletter_popup = settings.newsletter_popup -%}
  {%- assign _auto_currency = settings.auto_currency -%}

  {% if template contains 'customers' %}
    <script crossorigin="anonymous" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script crossorigin="anonymous" src="{{ 'bc.customerArea.js'  | asset_url }}"></script>
  {% endif %}

  <div class="boxed-wrapper skin-{{ _template_skin }} mode-{{ _boxed_mode_bg }}{% if _icon_btn_banner %} icon-btn-banner{% endif %}" data-cart-style="{{ _cart_styles }}" data-redirect="{{ settings.enable_redirect_checkout }}" data-ajax-cart="{{ settings.disable_ajax_cart }}">
    <div class="new-loading"></div>
    {% include 'bc-config-js' %}
    <div id="menu-hover-background"></div>
    
    {% if _header_left %}{% section 'header' %}{% endif %}
    <div id="page-body" class="{% if _header_left %}flex-header-left {% endif %}{% if template contains 'product' %}product-{{ template.suffix }} {% endif %}breadcrumb-{{ _breadcrumb_styles }} {{ _general_layout_mode }}">
      <div class="header-department">
        {% if _notice_bar %}{% section 'notice-bar' %}{% endif %}
        {% if _announcement_bar %}{% section 'announcement-bar' %}{% endif %}
        {% unless _header_left %}{% section 'header' %}{% endunless %}
        {% if _mobile_department %}
          {% if template == 'index' or template contains 'collection' %}
            {% section 'mobile-department' %}
          {% endif %}
        {% endif %}
      </div>

      {% include 'language-modal' %}

      <div id="body-content" class="container-width-{{ _container_width_type }}">
        <div id="main-content">
          <div class="main-content{% if _show_left_column %} show-left-column{% endif %}">{{ content_for_layout }}</div>
        </div>
      </div>

      {% if _auto_currency and settings.currency_type != '3' %}{% include 'auto-currency' %}{% endif %}
      {% if _newsletter_popup %}{% section 'newsletter-template' %}{% endif %}
      {% if settings.footer_slideshow %}{% section 'section-slideshow' %}{% endif %}
      {% section 'footer' %}
      {% if settings.footer_banner %}{% section 'section-image-gallery' %}{% endif %}
    </div>


    {% if settings.mobile_bar == 'outside' %}
      {% include 'layer-mobile-bar' %}
    {% endif %}

    {{ "api.jquery.js" | shopify_asset_url | script_tag }}

    {% if _cart_styles == 'dropdown' %}
      {% include 'cart-dd-custom' %}
      {% include 'layer-cart-modal' %}
    {% else %}
      {% include 'cart-sb-custom' %}
      {% include 'cart-sidebar' %}
    {% endif %}

    {% if settings.currency_type == '2' %}{% include 'currencies' %}{% endif %}
    {% include 'quick-shop-product' %}

    {% if _use_color_hexcode %}{% include 'color-hexcode' %}{% endif %}
    {% if _show_cookie_policy %}{% include 'cookie-policy' %}{% endif %}
    {% if template contains 'product' %}{% include 'theme-product' %}{% endif %}

  </div>
  {% include 'script-files' %}
  {{ shop.metafields.loox["global_html_body"] }}
 {% include 'smile-initializer' %}
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->
<!--  {% include 'hktapps.sw.sdk' %} -->
<!-- {% render 'spurit_sct_theme_snippet' %}	-->
{%- render "ecom_footer"-%}
<!-- PF EDT START -->
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",US: "{{ 'US.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK5RVT4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  
</body>
</html>


<!-- Begin Shopify-Clearpay JavaScript Snippet (v1.0.8) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Editable fields (remove "//" from the start of each line to activate):
// var clearpay_min = 0.04;  // As per your Clearpay contract.
// var clearpay_max = 800.00;  // As per your Clearpay contract.

var clearpay_product_selector = '.detail-price';  // The selector used to identify the price on the Product pages.
// var clearpay_product_css = {'margin-top': '15px'};  // The CSS styling of the Clearpay assets on the Product pages.
// var clearpay_logo_theme = 'colour';  // The Clearpay logo colour. Can be 'colour' (default), 'black' or 'white'.
// var clearpay_modal_open_icon = true;	 // If enabled, an "ⓘ" icon is displayed next to the Clearpay logo in place of the "More info" text.

// var clearpay_variable_price_fallback_selector = '.product-price-selector';  // The selector used to identify the price on the Product pages if the Clearpay assets are disappearing after page-load or price is incorrect when a variant is selected.
var clearpay_variable_price_fallback_method = "interval";  // Ensures the instalment price updates when the price changes. Can be "mutation" (default) or "interval".

// var clearpay_cart_integration_enabled = true;  // Enables/disables the Cart page display. Can be true (default) or false.
// var clearpay_cart_static_selector = '.total-price';  // The selector used to identify the price on the Cart page.
// var clearpay_cart_static_css = {'margin-top': '15px'};  // The CSS styling of the Clearpay assets on the Cart page.
// var clearpay_cart_static_logo_theme = 'colour';  // The Clearpay logo colour. Can be 'colour' (default), 'black' or 'white'.

// var clearpay_footer_logo_enabled = true;  // Enables/disables the footer payment icon. Can be true (default) or false.
// var clearpay_footer_logo_container = '.total-price';  // The selector used to identify the payment icons in the footer.
// var clearpay_footer_logo_format = 'icon';  // The Clearpay payment icon style. Can be 'icon' (default), 'stacked' or 'logo'.
// var clearpay_footer_logo_theme = 'colour';  // The Clearpay payment icon colour. Can be 'colour' (default), 'black' or 'white'.
// var clearpay_footer_logo_background = 'border';  // The Clearpay payment icon border style. Can be 'border' (default) or 'transparent'.
// var clearpay_footer_logo_css = {'width': '38px', 'height': '22px', 'vertical-align': 'baseline'};  // The CSS styling of the Clearpay payment icon in the footer.

// Non-editable fields:
var clearpay_shop_currency = {{ shop.currency | json }};
var clearpay_cart_currency = {{ cart.currency.iso_code | json }};
var clearpay_shop_money_format = {{ shop.money_format | json }};
var clearpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var clearpay_theme_name = {{ theme.name | json }};
var clearpay_product = {{ product | json }};
var clearpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var clearpay_cart_total_price = {{ cart.total_price | json }};
var clearpay_js_snippet_version = '1.0.8';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-clearpay-javascript.js"></script>
{% else %}
<!-- Clearpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Clearpay JavaScript Snippet (v1.0.8) -->
